.navbar{
    width: 100%;
    min-height: 70px;
    background-color: #007bff;
    box-sizing: border-box;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand{
    margin-left: 5px;
    font-size: larger;
    font-weight: 600;
    color: rgb(255, 255, 255);
   
}

.navbar-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    margin-right: 20px;
    font-size: 18px;
}

.nav-link{
    padding: 0px 20px;
    color: rgb(255, 255, 255);
    opacity: 70%;
}

.nav-link:hover{
    opacity: 100%;
}


.cart{
    position: relative;
    display: inline-block;
}

.cart-count{
    display: inline-block;
    width: 20px; 
    height: 20px; 
    border-radius: 50%;
    background-color: #f55c5c;
    color: #ffffff;
    text-align: center;
    line-height: 20px;
    font-size: 12px; 
    font-weight: bold; 
    position: absolute; 
    top: -5px; 
    right: -1px;
}

.active {
    font-weight: 600;
    opacity: 100%;
}

@media (max-width: 550px) {
    .navbar{
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }   
}