.home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    min-height: 100vh;
}

.home-body{
    flex: 1;
}

.featured-products {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 10px;
    flex-wrap: wrap;
}

@media (max-width: 550px){
    .featured-products {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
