@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    font-family: 'Poppins', sans-serif;
}

body {
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
}

a {
    color: black;
    text-decoration: inherit;
}

p{
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word; 
}

/* .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
} */

.content-body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 20px;
    min-height: calc(100vh - 300px);
}

.btn {
    padding: 8px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn svg {
    margin-left: 10px;
    fill: currentColor;
}

.btn-primary {
    background-color: #007bff;
    color: white;
}

.btn-secondary {
    background-color: rgb(208, 208, 208);
    border: .5px solid black;
}

.btn-primary:hover,
.btn-secondary:hover {
    opacity: 90%;
}

@media (max-width: 550px){
    .content-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}